@{
    ViewData["Title"] = "Home Page";
}
<form>

</form>
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nurgül Sezgin'in ödevi</th>
            </tr>
        </thead>
    </table>
</div>

<table class="table table-bordered table-hover">
        

</table>

